:root {
    --darkest: #222831;
    --dark: #31363f;
    --dark2: #3a404a4c;
    --green: #76abae;
    --white: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--darkest);
    color: var(--white);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

header {
    padding: 30px;
    border-radius: 15px;
    border: 3px solid var(--dark);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.details {
    width: 100%;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--dark);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 0%;
    height: 10px;
    background-color: var(--green);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 600;
    color: var(--white);
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 20px;
}

input {
    flex: 1;
    padding: 14px;
    background-color: var(--dark2);
    border: 3px solid var(--dark);
    border-radius: 10px;
    outline: none;
    color: var(--white);
}

button {
    padding: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
    font-size: 30px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background-color: var(--white);
    color: var(--green);
}

button:active {
    opacity: .5;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem {
    display: flex;
    background-color: var(--dark);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input {
    width: 20px;
    height: 20px;
}

.completed p {
    text-decoration: line-through;
    color: var(--green);
}

p {
    user-select: none;
}

#checkbox {
    cursor: pointer;
    background-color: var(--dark);
}

.taskItem img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.taskItem img:hover {
    opacity: .5;
}

.taskItem img:active {
    opacity: .2;
}
